.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.full-width {
    width: 100%;
}

.center {
    width: 40%;
    margin: auto;
    margin-top: 30vh;
    min-width: 250px;
    max-width: 400px;
}

a {
    color: white;
}

.right {
    position: absolute;
    right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}