<mat-card class="center">
    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" color="accent">
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="isUsernameInvalid()">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" color="accent">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="isPasswordInvalid()">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field> 
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Submit</button>
            <a class="right" [routerLink]="['/login']">Inloggen?</a>
            <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
        </div>
    </form>
</mat-card>