button {
  padding: 0 1em 0 1em;
  font-size: 20px;
  border: none;
  color: #fff;
  background: linear-gradient(#343434, #3A3939);
}

.buttongroup {
  margin-left: 45%;
}

.fa {
  padding: 0.5em 0.25em 0.5em 0.25em;
  color: lightgray;
}

mat-toolbar {
  height: 80px;
  background: linear-gradient(#343434, #3A3939);
  /*border-bottom: 1px solid gray;*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
}

.dropdown:hover .dropdown-content {
  border-radius: 5px;
  cursor: pointer;
  display: block;

}
