<app-header></app-header>
<div class="gameboard">

  <div *ngIf="gameBoard != null">
    <app-gameboardimage [newTileEvent]="eventEmitter" [centerTile]="gameBoard.centerStreet"
                        [marginLeft]="0"></app-gameboardimage>
  </div>

</div>

<div style="display: flex; justify-content: space-evenly; padding-top: 0.1em">
  <div class="handDiv" style="display: inline-flex">
    <img *ngFor="let card of hand;" (click)="isSelected(card)" style="cursor: pointer;"
         [ngClass]="handClassName"
         [src]="card.resourceImagePath" width="150px" height="150px">
  </div>
  <app-dice style="margin-top: 2em"></app-dice>
</div>
