<app-header></app-header>

<div class="friendCardDiv">
  <mat-card>
    <mat-card-title>
      <i class="fa fa-group fa-2x"></i>
      Vrienden
    </mat-card-title>

    <mat-card-content>
      <form class="form-inline ">
        <input [(ngModel)]="searchTerm" name="search" class="form-control form-control-sm" type="text"
               placeholder="Search"
               aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="addFriendLabel">Toevoegen
          <img class="addFriendButton" src="/assets/images/plus_button.png" height="30px" width="30px"
               (click)="openDialog()">
        </span>
      </form>
    </mat-card-content>

    <mat-card-content>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let user of userFriendList | userFilter: searchTerm | paginate: { itemsPerPage: 5, currentPage: pageNumber }">{{user.username}}
          <button class="duelButton"><img src="/assets/images/swords.png" width="25px" height="25px"
                                          (click)="challengeFriend(user.username)">
          </button>
        </li>
      </ul>
      <pagination-controls class="pagination" (pageChange)="pageNumber = $event"></pagination-controls>
    </mat-card-content>
  </mat-card>
</div>
