<app-header></app-header>

<div class="friendCardDiv">
  <mat-card>
    <mat-card-title>
      <i class="fa fa-clock-o fa-2x"></i>
      Lobby
    </mat-card-title>

    <mat-card-content>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of usersInLobby">
          {{user.username}}
        </li>
      </ul>
    </mat-card-content>
    <mat-card-content>
      <app-chat></app-chat>
    </mat-card-content>
    <mat-card-content class="buttonCardContent">
      <button (click)="startGame()">
        <i class="fa fa-play"></i> Spelen
      </button>
    </mat-card-content>
  </mat-card>
</div>
