
<textarea cols="100" rows="20" disabled>{{chatLog}}</textarea>

<form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
    <mat-form-field class="full-width" color="accent">
        <input matInput placeholder="chatten" formControlName="message">
    </mat-form-field>
    <div>
        <button class="btn-success" color="primary" type="submit" [disabled]="!chatForm.valid">send</button>
    </div>
</form>
