<div class="dice">
    <ol ngClass="{{cssSelectorDice}}" attr.data-roll={{diceResult}} id="number-dice" (click)="rollDice()">
        <li class="die-item" data-side="1">
            <span class="dot"></span>
        </li>
        <li class="die-item" data-side="2">
            <span class="dot"></span>
            <span class="dot"></span>
        </li>
        <li class="die-item" data-side="3">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </li>
        <li class="die-item" data-side="4">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </li>
        <li class="die-item" data-side="5">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </li>
        <li class="die-item" data-side="6">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </li>
    </ol>
</div>