<mat-card class="center">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" color="accent">
            <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field class="full-width" color="accent">
            <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field> 
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
            <a class="right" [routerLink]="['/register']">Registreren?</a>
            <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
        </div>
    </form>
</mat-card>