<app-header></app-header>

<div class="scoreboardCardDiv">
  <mat-card>
    <mat-card-title>
      <i class="fa fa-trophy fa-2x"></i>
      Scorebord
    </mat-card-title>

    <mat-card-content class="searchCardContent">
      <form class="form-inline ">
        <input [(ngModel)]="searchTerm" name="search" class="form-control form-control-sm" type="text" placeholder="Search"
               aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>
    </mat-card-content>

    <mat-card-content>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let item of userList | userFilter: searchTerm | paginate: { itemsPerPage: 5, currentPage: pageNumber }">{{item.username}}
        </li>
      </ul>
      <pagination-controls class="pagination" (pageChange)="pageNumber = $event"></pagination-controls>
    </mat-card-content>
  </mat-card>
</div>
