mat-card {

  background: linear-gradient(#343434, #3A3939);
  width: 500px;
  margin: auto;

}

mat-card-title {
  padding: 0 1em 1em 0;
}

.scoreboardCardDiv {
  margin-top: 3.25em;
}


li {
  color: black;
}

.pagination {
  margin-top: 2em;
  margin-left: 6em;
  color: white;
}

.pagination /deep/ .ngx-pagination .current {
  background-color: red;
  border-radius: 3px;
  border-bottom: 3px solid darkred;
}


/deep/ .ngx-pagination .pagination-next a, /deep/ .ngx-pagination .pagination-previous a {
  background-color: red;
  border: none;
  border-bottom: 3px solid darkred;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s;
}


/deep/ .ngx-pagination .pagination-next.disabled, /deep/ .ngx-pagination .pagination-previous.disabled {
  color: grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/deep/ .ngx-pagination .pagination-next a:hover, /deep/ .ngx-pagination .pagination-previous a:hover {
  background-color: darkred;
  border-color: red;
}

.fa-search {
  padding-left: 1em;
}

.fa-group {
  padding-right: 0.25em;
}

.searchCardContent {
  padding-bottom: 0.75em;
}
