
.btn-success {
  padding: 0.25em;
  border: none;
  border-bottom: 5px solid darkgreen;
  border-radius: 5px;
  margin-left: 15px;
}

.btn-danger {
  padding: 0.25em;
  border: none;
  border-bottom: 5px solid darkred;
  border-radius: 5px;
}

.dialog {
  text-align:center
}

input {
  margin: auto;
}

mat-dialog-actions {
  padding: 1em;
}

mat-dialog-content {
  padding: 1em;
}
