.grid-container {
  display: grid;
  position: absolute;
  grid-template-columns: 140px 140px 140px;
  grid-template-rows: 140px 140px 140px;
  margin-top: 12.7em;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 1em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25em;
  width: 130px;
  height: 130px;
}
