.background {
  position: absolute;
}

.title {
  position: relative;
  margin-left: 33%;
  margin-top: 12em;

}

.windmillAndKnight {
  position: relative;
  padding: 0 3em 0 3em;
  margin-bottom: 1em;

}

.windmillAndKnightGroup {
  margin-top: 0.5em;
  margin-left: 13.5em;
  align-items: flex-end;
  display: flex;

}

button {
  position: relative;
  color: yellow;
  padding: 0.5em;
  font-size: 21px;
  width: 10%;
  border: none;
  border-bottom: 5px solid darkred;
  background-color: #CB0007;
  border-radius: 5px;
  margin-left: 45%;
}

.fa-play {
  padding-right: 0.10em;
}
